*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 180px;
}

.text{
    width: 30%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 580px;
}

.text p{
    margin-top: 30px;
}


.box{
    margin: 25px;
}

h2{
    margin: 15px 0px;
}